.movie-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.detail-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  background-color: #03044e7c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detail-content img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.detail-content h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: white;
}

.detail-content p {
  margin: 5px 0;
  color: white;
}

.detail-content p {
  margin: 5px 0;
  color: white;
  text-align: center; /* Añade esta línea para centrar el texto */
}


.detail-content ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10px;
}


.botonFavorito {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.botonFavorito:hover {
  color: #e74c3c;
}



/* MEDIA QUERIES */

/* Pantallas medianas (tablets) */
@media (max-width: 768px) {
  .detail-content {
    max-width: 600px;
    padding: 15px;
  }

  .detail-content h2 {
    font-size: 1.5rem;
  }

  .detail-content ul {
    gap: 8px;
  }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .detail-content {
    max-width: 100%;
    padding: 10px;
  }

  .detail-content h2 {
    font-size: 1.2rem;
  }

  .detail-content p {
    font-size: 14px;
  }

  .detail-content ul {
    gap: 5px;
  }

  .botonFavorito {
    font-size: 14px;
    margin-top: 15px;
  }
}