.movie-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: url("../../../public/images/fondo.jpeg");
}

.detail-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1000px;
  background-color: #800020;
  padding: 20px;
  border:10px solid  beige;

}

.detail-content img {
  max-width: 100%;
  max-height: 500px;
  margin-bottom: 20px;
}

.detail-content h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: beige;
}

.detail-content p {
  margin: 15px;
  color: white;
  text-align: center;
  width: 500px;

}

.detail-content ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 10px;
}


.botonFavorito {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.botonFavorito:hover {
  color: #e74c3c;
}



/* MEDIA QUERIES */

/* Pantallas medianas (tablets) */
@media (max-width: 768px) {
  .detail-content {
    max-width: 600px;
    padding: 15px;
  }

  .detail-content h2 {
    font-size: 1.5rem;
  }

  .detail-content ul {
    gap: 8px;
  }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .detail-content {
    max-width: 100%;
    padding: 10px;
  }

  .detail-content h2 {
    font-size: 1.2rem;
  }

  .detail-content p {
    font-size: 14px;
  }

  .detail-content ul {
    gap: 5px;
  }

  .botonFavorito {
    font-size: 14px;
    margin-top: 15px;
  }
}