section {
  background-image: url("../../../public/images/fondo.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 0;
  min-height: auto;
  position: relative;
  z-index: 1;
}

.titulo {
  color: white
}

article:hover {
  transform: scale(1.05);
}

article img {
  width: 100%;
  max-width: 400px;
  display: block;
  border: 0px 10px solid rgba(95, 22, 32, 0.7);
}

article div {
  padding: 15px;
}

article a {
  font-size: 24px;
  color: black;
  text-decoration: none;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

article a:hover {
  text-decoration: underline;
}

article p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

.movie-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.movie-grid article {
  background-color: rgb(31, 31, 31);
  color: white;
  border-radius: 0px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-inline: 20px;
  transition: transform 0.3s ease;
  width: 100%;
  max-width: 250px;
  border: 10px solid rgba(95, 22, 32, 0.7);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.27); /* Sombra con brillo rojo */
}

/* Asegúrate de que las imágenes dentro de cada película mantengan sus estilos */
.movie-grid article img {
  width: 100%;
  max-width: 400px;
  display: block;
  border-bottom: 4px solid rgba(95, 22, 32, 0.7);
  /* Mantén el estilo de la imagen */
}

/* Estilo para los enlaces dentro de cada artículo (títulos) */
.movie-grid article a {
  font-size: 24px;
  color: white;
  /* Blanco para el texto del título */
  text-decoration: none;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Estilo para los botones dentro de cada artículo */
.movie-grid article .view-more,
.movie-grid article .favorite-button {
  background-color: rgba(95, 22, 32, 0.7);
  /* Azul más oscuro para los botones */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

/* Estilo para el texto dentro de cada artículo */
.movie-grid article p {
  color: #cccccc;
  /* Color gris claro para el texto de la sinopsis */
  font-size: 16px;
  line-height: 1.6;
}




/* MEDIA QUERIES */

/* Para pantallas medianas (tablets) */
@media (max-width: 768px) {
  section {
    padding: 30px 0;
  }

  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 30px;
  }

  .titulo {
    font-size: 28px;
  }

  article {
    max-width: 200px;
  }

  article img {
    max-width: 300px;
  }

  article a {
    font-size: 20px;
  }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  section {
    padding: 20px 0;
  }

  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 20px;
  }

  .titulo {
    font-size: 24px;
  }

  article {
    max-width: 150px;
  }

  article img {
    max-width: 200px;
  }

  article a {
    font-size: 18px;
  }

  .movie-grid article .view-more,
  .movie-grid article .favorite-button {
    font-size: 14px;
    padding: 8px;
  }
}