.search-container {
  background-color: rgb(31, 31, 31);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.search-container input {
  background-color: beige;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  color: black(31, 31, 31);
  font-size: 15px;
  width: 500px;
}

.search-container button {
  background-color: rgba(95, 22, 32, 0.7);
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
}

.search-container button:hover {
  background-color:  rgb(159, 64, 77);
}

.results {
  font-size: 20px;
  color: white;
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  padding: 5px;
  letter-spacing: 1px;
}

.results-div {
  background-color: black;
  margin: 0px;
  padding: 0pc;

}

.results2 {
  font-size: 20px;
  color: white;
  margin: 0px;
  align-items: flex-start;
  font-family: 'Bebas Neue', sans-serif;
  padding: 5px;
  letter-spacing: 1px;
}

/* MEDIA QUERIES */
@media (max-width: 420px) {
  .search-container {
    flex-direction: column; 
    padding: 10px; 
    gap: 5px;
  }

  .search-container input {
    width: 100%; 
    font-size: 14px;
    padding: 8px;
  }

  .search-container button {
    width: 100%; 
    font-size: 18px;
    padding: 10px;
  }

  .results {
    font-size: 18px; 
  }

  .results2 {
    font-size: 18px; 
  }
}