.search-container {
  background-color: rgb(31, 31, 31);
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.search-container input {
  background-color: beige;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  color: black(31, 31, 31);
  font-size: 15px;
  width: 500px;
}

.search-container button {
  background-color: rgba(95, 22, 32, 0.7);
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
}

.search-container button:hover {
  background-color:  rgb(159, 64, 77);
}

.results {
  font-size: 20px;
  color: white;
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  padding: 5px;
  letter-spacing: 1px;
}


/* MEDIA QUERIES */

/* Para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .search-container {
    flex-direction: column;
    /* Cambia a columna en pantallas pequeñas */
    align-items: stretch;
    /* Alinea los elementos para ocupar todo el ancho */
    gap: 5px;
    /* Reduce el espacio entre los elementos */
  }

  .search-container input {
    font-size: 20px;
    /* Reduce el tamaño de fuente en móviles */
    padding: 8px;
    /* Ajusta el padding */
  }

  .search-container button {
    font-size: 16px;
    /* Reduce el tamaño de fuente en móviles */
    padding: 8px;
    /* Ajusta el padding */
  }

  .results {
    font-size: 18px;
    /* Reduce el tamaño de fuente de los resultados */
  }
}