.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.mensaje {
  margin-top: 20px;
  font-size: 18px;
  color: #123abc;
}


/* Pantallas medianas (tablets) */
@media (max-width: 768px) {
  .loader {
    height: 80vh;
    /* Reduce un poco la altura para pantallas más pequeñas */
  }

  .mensaje {
    font-size: 16px;
    /* Reduce el tamaño de la fuente en tablets */
    margin-top: 15px;
    /* Ajusta el margen para mejor proporción en tablets */
  }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .loader {
    height: 70vh;
    /* Reduce aún más la altura en móviles */
  }

  .mensaje {
    font-size: 14px;
    /* Reduce el tamaño de la fuente en móviles */
    margin-top: 10px;
    /* Menor margen superior para mejor ajuste en pantallas pequeñas */
    text-align: center;
    /* Centra el texto del mensaje para móviles */
  }
}