.footer {
    display: flex;
    justify-content: flex-start;
    /* Alinea los elementos a la izquierda */
    align-items: flex-end;
    /* Alinea los elementos hacia abajo */
    padding: 20px;
    height: 120px;
    width: 100%;
    /* Asegura que ocupe todo el ancho disponible */
    background-image: url('../../../public/images/footer.jpeg');
    /* Ruta desde la carpeta public */
    background-size: cover;
    /* Cubre todo el área del footer */
    background-position: center;
    /* Centra la imagen de fondo */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
}

h2 {
    color: rgb(239, 12, 12);
    font-size: 20px;
    padding: 2px;
    margin: 0;
    /* Asegura que no haya márgenes adicionales que puedan afectar el diseño */
    margin-left: 20px;
    /* Añade un margen izquierdo si deseas separar el texto del borde */
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
}


/* MEDIA QUERIES */

/* Pantallas medianas (tablets) */
@media (max-width: 768px) {
    .footer {
        height: 100px;
        padding: 15px;
        justify-content: center;
        /* Centra los elementos en lugar de alinearlos a la izquierda */
        align-items: center;
    }

    h2 {
        font-size: 18px;
        margin-left: 10px;
        /* Menor margen en pantallas más pequeñas */
    }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    .footer {
        height: 80px;
        padding: 10px;
        flex-direction: column;
        /* Cambia la dirección a columna para móviles */
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-size: 16px;
        margin-left: 0;
        text-align: center;
        /* Centra el texto en dispositivos pequeños */
    }
}