.show {
  display: block;
}

.hide {
  display: none;
}

section h2 {
  font-size: 28px;
  color: beige;
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  padding: 5px;
  letter-spacing: 1px;
}


.link-container {
  text-align: center;
  margin-bottom: 10px;
}

.ver-mas {
  display: inline-block;
  color: beige;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: 2px solid beige;
  border-radius: 5px;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
}

.title {
  font-family: 'Bebas Neue', sans-serif;
  padding: 5px;
  letter-spacing: 1px;
}

.ver-mas:hover {
  background-color: rgba(95, 22, 32, 0.7);
  color: white;
}

.botonFavorito {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  font-size: 16px;
  font-family: 'Bebas Neue', sans-serif;
  cursor: pointer;
  margin-top: 10px;
  letter-spacing: 1px;
}

.botonFavorito:hover {
  color: rgba(95, 22, 32, 0.7);
}

.botonFavorito span {
  margin-left: 8px;
}

.ver-mas2 {
  display: inline-block;
  color: rgba(95, 22, 32);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: 3px solid rgba(95, 22, 32);
  border-radius: 5px;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
}
.ver-mas2:hover{
  background-color: rgba(95, 22, 32, 0.7);
  color: white;
}

.ir-detalle {
  font-family: 'Bebas Neue', sans-serif;
  color: beige !important;
  font-size: 18px !important;
}

.alinear{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* Pantallas pequeñas */
@media (max-width: 480px) {
  section {
    padding: 20px 0;
  }

  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
  }

  article {
    width: 100%;
    max-width: 150px;
  }

  article a {
    font-size: 18px;
  }

  article p {
    font-size: 14px;
  }
}